.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shop-text {
  max-width: 50vw;
}

.address-text {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
}

nav a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

nav a:hover {
  color: #666;
}